<div>
    <div class="header">
        <div class="row">
            <label for="id">id</label>
            <input data-dojo-type="dijit.form.TextBox" data-dojo-props="disabled: true" id="id">
        </div>
        <div class="row">
            <label for="name">name</label>
            <input data-dojo-type="dijit.form.TextBox" id="name">
        </div>
        <div data-dojo-attach-point="selfPropertiesNode"></div>
    </div>
    <div data-dojo-attach-point="attributesGrid" id="props-grid"></div>
</div>
