<html>
    <head>
        <title>MetaWorld</title>
        <link rel="stylesheet" href="/static/dtk/dijit/themes/claro/claro.css">
        <link rel="stylesheet" href="/static/dtk/dojox/grid/resources/claroGrid.css">
        <link rel="stylesheet" href="/static/metaworld/resources/metaworld.css">
        <script>
            var dojoConfig = {
                isDebug: true,
                async: true,
                baseUrl: "/static/",
                tlmSiblingOfDojo: false,
                packages: [
                    { name: "dojo", location: "dtk/dojo" },
                    { name: "dijit", location: "dtk/dijit" },
                    { name: "dojox", location: "dtk/dojox" },
                    { name: "metaworld", location: "metaworld" }
                ]
            };
        </script>
        <script type="text/javascript" src="/static/dtk/dojo/dojo.js"></script>
        <script>
            require(['metaworld', 'dojo/domReady!'], function(app) {
                app.init();
            });
        </script>
    </head>
    <body class="claro">
        <div id="app-layout"></div>
    </body>
</html>
