<html>
    <head>
        <title>MetaWorld</title>
        <link rel="stylesheet" href="/static/js/dtk/dijit/themes/nihilo/nihilo.css">
        <link rel="stylesheet" href="/static/js/metaworld/resources/metaworld.css">
        <script>
            var dojoConfig = {
                isDebug: true,
                async: true,
                baseUrl: "/static/js/",
                tlmSiblingOfDojo: false,
                packages: [
                    { name: "dojo", location: "dtk/dojo" },
                    { name: "dijit", location: "dtk/dijit" },
                    { name: "dojox", location: "dtk/dojox" },
                    { name: "metaworld", location: "metaworld" }
                ]
            };
        </script>
        <script type="text/javascript" src="/static/js/dtk/dojo/dojo.js"></script>
        <script>
            require(['metaworld', 'dojo/domReady!'], function(app) {
                app.init();
            });
        </script>
    </head>
    <body class="nihilo">
        <div id="app-layout"></div>
    </body>
</html>
